<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <img src="{% url 'video_stream:video_stream' %}">
    <h1>wohoo</h1>
    {% url 'video_stream:video_stream' %}
</body>
</html>